<!-- <p>idAnime: <span class="id_anime">{{ episodesListService.idAnime }}</span></p> -->

<div *ngIf="episodesListService.episodes !== undefined">

    <div class="episode">
        <img src="{{episodesListService.image}}" alt="">
        <div class="episodes_result">
            <div class="episode_header">
                <div class="episode_id"><span>Nº</span></div>
                <div class="episode_title"><span>Episodio</span></div>
            </div>
            <div class="episode_list">
                <div *ngFor="let episode of episodesListService.episodes;">
                    <app-anime-item [receivedData]="episode"></app-anime-item>
                    <!-- <p>{{episode | json}}</p> -->
                </div>
            </div>
            <div class="episode_paginator">
                <div class="paginator_if" *ngIf="episodesListService.lastPage > 1">
                    <div *ngFor="let page of episodesListService.lastPage | paginator  ">
                        <div class="page" (click)="changePage(page)"><span>{{page}}</span></div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>
    


</div>




<!-- 
<p>lastPage: <span class="id_anime">{{ episodesListService.lastPage }}</span></p> -->
