@import '../../../../../styles.scss';

.anime_item{
display: flex;
justify-content: space-between;
}
.anime_item_id, .anime_item_title{
    padding: 10px 0;
    border: 2px solid rgba($color: #000000, $alpha: .1);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    background-color: $white;
}
.anime_item_id{
    width: 10%;
    
}
.anime_item_title{
    width: 86%;
    margin-right: 4px;
}